0.0.0.0:3030
tls off
log stdout
errors stdout

root /var/www

proxy /api/schema-registry-cloud schema-registry-cloud:8081 {
    without /api/schema-registry-cloud
}

proxy /api/kafka-rest-cloud kafka-rest-cloud:8082 {
    without /api/kafka-rest-cloud
}

proxy /api/kafka-rest-edge kafka-rest-edge:8072 {
    without /api/kafka-rest-edge
}

proxy /api/kafka-connect-cloud kafka-connect-cloud:8083 {
    without /api/kafka-connect-cloud
}
